#img1 {
    background: url("../Image/andrea-de-santis-Dhm4TXF6CyY-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#img2 {
    background: url("../Image/hiki-app-A9rQeI2AdR4-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#img3 {
    background: url("../Image/kajetan-powolny-6--ZUPMsVC4-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#img4 {
    background: url("../Image/mali-desha-qOBkMaTdLmQ-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#img5 {
    background: url("../Image/marek-piwnicki-JRyilDUzPeU-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#img6 {
    background: url("../Image/maria-orlova-6viJObrmnBw-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#img7 {
    background: url("../Image/neom.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#img8 {
    background: url("../Image/rajab-guga-EVtFPwebHOo-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#img9 {
    background: url("../Image/royal-oxford-1-cY6ldprcU-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#img10 {
    background: url("../Image/vaclav-pechar-zlUze5fpWUI-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#img11 {
    background: url("../Image/valeriia-neganova-_j7kzAwn2oM-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}