body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
}
.container{
    display: grid;
    grid-template-columns: repeat(2, 300px);
    background-color: white;
    width: 600px;
    height: 400px;
} 
.flex {
    display: grid;
    justify-content: center;
}
.grid{
    display: grid;
    justify-content: center;
}
.FlexLayout{
    display: grid;
    grid-template-columns: repeat(3, 77px);
    gap: 10px;
    margin-top: 50px;
    width: 250px;
    height: 250px;
    background-color: white;
}
.flexColumn{
    background-color: green;
}
.GridLayout{
    display: grid;
    grid-template-columns: repeat(3, 77px);
    grid-template-rows: repeat(3, 77px);
    gap: 10px;

    margin-top: 50px;
    width: 250px;
    height: 250px;
    background-color: white;
}
.gridColumn-1 {
    background-color: red;
}
.gridColumn-2 {
    grid-column: span 2;
    background-color: purple;
}
.gridColumn-3 {
    grid-column: span 2;
    background-color: purple;
}
.gridColumn-4 {
    grid-row: span 2;
    background-color: blue;
}
.gridColumn-5 {
    background-color: red;
}
.gridColumn-6 {
    background-color: red;
}

.Text {
    display: grid;
    justify-content: center;
    grid-template-rows: 50px;
}